node_modules/
out/
dist/
release/
.DS_Store
*.log
resources/bin/
*.tsbuildinfo

# Generated test fixtures (created on demand by tests/fixtures/make-fixtures.ts)
tests/fixtures/sample.*
tests/fixtures/sample-*
